<a href="/">Back to the message board</a>
<form method="POST" action="/new">
    <label for="messageUser">Username:</label>
    <input type="text" id="messageUser" name="messageUser" placeholder="Username">
    <label for="messageText">Message:</label>
    <textarea name="messageText" id="messageText" cols="30" rows="10" placeholder="Write some message..."></textarea>
    <button type="submit">Submit</button>
</form>